* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #edfff3;
  /*font-family: Copperplate, Copperplate Gothic Light, fantasy;*/
  /*font-family: "Poppins", Helvetica;*/
  /*font-family: 'Courier New', Courier, monospace;*/
  /*font-family: Verdana, Geneva, Tahoma, sans-serif;*/
  font-family: 'Playfair Display', sans-serif;
}

/*!====================== PAGINA INDEX ==========================*/

/*!-------------ESTO ES SCROLL LENTO ENLACES INTERNO PÁGINA--------------*/
html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: smooth;
  }
}
/*--------------FIN--------------*/


header.header {
  background-color: #3333337f;
  padding: 10px;
  text-align: left;
  position: fixed;
  /*Esto es para que el menu se quede fijo en la parte superior*/
  top: 0;
  z-index: 1;
  /*Esto es para que el menu despegable se vea por encima del video*/
  width: 100%;
  display: flex;
  padding-top: 0px;
}
/*----------------FIN-------------------*/


/*!----ESTILOS GENERALES----*/

h1 {
  margin: 0;
  padding-top: 20px;
  padding-left: 30px;
  /*font-family: 'Courier New', Courier, monospace;*/
}


/*Estilo color texto dentro del menu despegable*/
.dropdown-content a {
  color:  rgba(71, 126, 93, 1);
  background-color:  #edfff3;
}
/*Estilo letra boton enlaces index y presupuesto*/
.button1 {
  font-family: "Poppins", Helvetica;
}

/*ESTO ES DE LAS TARJETAS*/
.seccion5 {
  /*font-family: Arial, sans-serif;*/
  background-color: #edfff3;
}

/* Estilos del nombre del logo*/
.texto-empresa {
  font-family: "Karla", Helvetica;
}

.centrar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.padding-botton {
  padding-bottom: 20px;
}


/*!----ESTO ES PARA EL BOTÓN LUMINOSO----*/
.luminoso {
  color: rgb(0, 0, 0);
  transform: translate(-0%, -0%);
  line-height: 50px;
  padding: 5px 50px;
  justify-content: center;
  display: flex;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  background: linear-gradient(45deg,#fdc830,#a2ba58);
  background-size: 200%;
  border-radius: 56px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.luminoso:hover {
  animation: animate 10s linear infinite;
}

@keyframes animate{
  0%{
      background-position: 0%;
  }
  100%{
      background-position: 500%;
  }
}

.luminoso:before {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background: linear-gradient(45deg,#fdc830,#a2ba58);
  background-size: 300%;
  border-radius: 56px;
  z-index: -2;
  opacity: 0;
}

.luminoso:hover:before {
  filter: blur(10px);
  opacity: 1;
  transition: 0.2s;
}
/*-----------------FIN--------------------*/


/*!----ESTO ES EL CONTENEDOR DE LA CABECERA----*/
.contenedor {
  display: flex;
  flex: 5;
  width: 100%;
  height: 70px;
  position: relative;
  flex-direction: row;
  z-index: 1;
  justify-content: center;
  margin-left: 37px;
}

.logo {
  display: block;
  background-image: url(img/logo-20redondo-20turilindos-1500h-jpg-1.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  object-fit: cover;
  position: relative;
  top: 0;
  left: 0;
  justify-content: center;
}

.logo:hover {
  background-image: url(img/Modificado_“logo-20redondo-20turilindos-1500h-jpg-1”.png);
}

.logo a {
  display: block;
  width: 50px;
  height: 50px;

}

img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  position: relative;
  top: 0;
  left: 0;
}

.texto-logo {
  font-size: 0.7rem;
  font-weight: 700;
  color: #fff;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
}
/*--------------FIN--------------------*/

/*!------ LOGO CABECERA CAMBIO DE IMAGEN A COLOR ---------*/
.img_3d_cabecera {
  background-color: #edfff300;
}

.card1_cabecera {
width: 50px;
  height: 50px;
	position: relative;
	display: flex;
	justify-content: center;
	padding: 0 0px;
	perspective: 1500px;
	margin-top: 15px;
}

.cover-image_cabecera { /*Esto es para que la imagen se ajuste al tamaño del contenedor*/
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.wrapper_cabecera { 
	transition: all 0.5s;
	position: absolute;
	width: 80%; /* logo amanecer mas grande */
	z-index: -1;
}

.card1_cabecera:hover .wrapper_cabecera { /*Esto es para que la imagen se mueva al pasar el ratón por encima*/
	transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
}

.wrapper_cabecera::before,
.wrapper_cabecera::after {  /*Esto es para que la imagen se oscurezca al pasar el ratón por encima*/
	content: "";
	opacity: 0;
	width: 100%;
	height: 100px;
	transition: all 0.5s;
	position: absolute;
	left: 0;
}

.wrapper_cabecera::before { 
	top: 0;
	height: 100%;
}

.wrapper_cabecera::after { 
	bottom: 0;
	opacity: 1;
}

.card1_cabecera:hover .wrapper_cabecera::before,
.wrapper_cabecera::after {
	opacity: 1;
}

.card1_cabecera:hover .wrapper_cabecera::after {
	height: 120px;
}

.character_cabecera {
	width: 100%;
	opacity: 0;
	transition: all 0.5s;
	position: absolute;
	z-index: -1;
}

.card1_cabecera:hover .character_cabecera {
	opacity: 1;
	transform: translate3d(0%, -8%, 10px); /* -8% desplazamiento vertical */
}


/*!----ESTO ES PARA LA ZONA VIDEO----*/
.seccion-video video {
  width: 100%;
  height: auto;
  z-index: 1;
}

.texto-video {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 2rem;
  color: #fff;
  z-index: 0;
  text-align: center;
  width: 100%;
  padding: 0 30px;
  opacity: 0.4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  pointer-events: none; /*Esto es para que no se pueda seleccionar el texto y se pueda acceder a los controles del video*/
}
/*--------------------FIN-----------------*/

/*!-----ESTO ES DEL MENÚ DESPEGABLE-----*/
.row2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: right;
  align-items: center;
  width: 100%;
  position: relative;
}

.col-2 {
  display: flex;
  padding: 12px;
  position: relative;
}

.content2 {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

/*? Esto es para el despegable de cabecera */
.despegable {
  display: flex;
  flex-direction: column;
  width: 217px;
  align-items: flex;
  gap: 10px;
  padding: 5px 10px;
}

/*? Esto es para que el desplegable aparezca debajo del botón */
.dropdown {
  display: inline-block;
  position: relative;
}

/*? Estilos del botón del despegable, Fondo caja menú*/
.botones {
  border-radius: 10px;
  background-color:  #89d57a; /*fondo caja palabra menú*/
  opacity: 70%;
  padding: 5px 20px; /*Esto es para que el botón se haga más grande*/
}

.botones:hover {
  background-color:  #3e8e41;
}

/*? Para crear los estilos del despegable*/
.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  opacity: 100%;
}

/*? Al pasar el ratón por encima hace el hover*/
.dropdown:hover .dropdown-content {
  display: list-item;
}

/*? Estilos texto dentro del menu despegable*/
.dropdown-content a {
  display: list-item;
  padding: 5px;
  text-decoration: none;
  font-weight: 800;
}

/*? Cambia los colores de los enlaces del menu despegable*/
.dropdown-content a:hover {
  color: #FFFFFF; /*color del texto*/
  background-color: #00A4BD; /*fondo caja palabra resaltada del  menú*/
}

/*---------------FIN-----------------*/

/*!----ESTO ES PARA LA ZONA REDES SOCIALES CABECERA----*/
/*? Estilos de facebook */
.fb {
  position: relative;
  height: 30px;
  margin-left: 50px;
  margin-right: 0px;
  margin-top: 15px;
}

.one {
  height: 30px;
  width: 17px;
  margin-left: 0px;
  margin-right: 20px;
}

path.ico-fb {
  fill: #02be79;
}

a:hover path.ico-fb {
  fill: rgb(5, 139, 16);
}
/*--------------------------------*/
/*? Estilos de instagram */
.insta {
  height: 30px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 15px;
}

.two {
  height: 30px;
  width: 30px;
  margin-left: 0px;
  margin-right: 10px;
}

path.ico-in {
  fill: #02be79;
}

a:hover path.ico-in {
  fill: rgb(5, 139, 16);
}
/*-------------------------------*/
/*? Estilos de youtube */
.youtube {
  height: 30px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 15px;
}

.three {
  height: 30px;
  width: 30px;
  margin-left: 15px;
  margin-right: 30px;
}

path.ico-you {
  fill: #02be79;
}

a:hover path.ico-you {
  fill: rgb(5, 139, 16);
}
/*----------FIN------------------*/

/*!----ESTO ES PARA LA ZONA TEXTO SECCION 2----*/
.seccion2 {
  width: 100%;
  height: 100%;
  position: relative;
  align-items: center;
  justify-content: center;
  
}

/*?----ESTO ES PARA EL TITULO DE LA SECCION 2    PARTE A LA ...----?*/
.contenedor2 {
  align-items: center;
  justify-content: center;
  width: 100%;
  display: flex;
  margin-top: 0px;
}

/*?---Esto es el titulo de la seccion 2 "PARTE A LA AVENTURA...------*/
.contenido2 p {
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  font-size: 30px;
}


/*?Esto es el texto de la seccion 2 EXPLORA,APRENDE.... */
.contenido2-1 p {
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: 100;
  color: rgb(0, 0, 0);
}

/*?----ESTO SON LOS BOTONES DE LA SECCION 2----*/
.contenedor-botones {
  align-items: center;
  justify-content: center;
  width: 100%;
  display: flex;
  margin-top: 90px;
}

/*?-----ESTO SON LOS ESTILOS DE LOS BOTONES--------*/
.button1 {
  background-color: #cdfadc;
  border-radius: 40px;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 600;
  margin-right: 30px;
}

/*?----Esto son los estilos de los botones de enlaces a rutas-cultura...---- */
.enlaces { /*Color del texto*/
  color: #000000;
}

.button1:hover { /*Esto es para que el botón se oscurezca al pasar el ratón por encima*/
  background-color: #89d57a;
}

.button1:active { /*Esto es para que cuando se pulse el botón se oscurezca*/
  background-color: #3e8e41;
}
/*----------FIN------------------*/

/*!----ESTO ES PARA LA ZONA TARJETAS SECCION 3----*/
/*?--Esto es el titulo de rutas--*/
.contenido3 p {
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: 500; /*Esto es para que el texto sea más grueso*/
  color: rgb(0, 0, 0);
}

/*!----ESTO ES PARA LA ZONA TARJETAS SECCION 5----*/
/*?--ESTO ES DE LAS TARJETAS--*/
.seccion5 {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 0px;
  z-index: 0;
  position: relative;
  align-items: center;
  justify-content: center;
}

.tarjeta {
  width: 300px; /* Establece el ancho fijo */
  height: 350px; /* Establece la altura fija */
  background-color: #fff;
  border-radius: 8px;
  margin: 20px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.603);
}

.tarjeta img {
  width: 100%;
  height: 200px; /* Establece la altura fija para la imagen */
  object-fit: cover; /* Ajusta la imagen para cubrir completamente el contenedor */
  border-bottom: 1px solid #ddd;
}


/*Texto Tarjetas*/
.contenido4 {
  padding: 20px;
  font-size: 15px;
  line-height: 1.2;
}

h2 {
  margin-top: 0;
}

.enlace {
  margin-top: 30px;
}

.enlace a {
  color: #978d05;
}
/*----------FIN-----------*/

/*!-----------ESTO PERTENECE A LA SECCIÓN DE QUIENES SOMOS-------*
/* Contenedor*/
.seccion6 {
  display: flex;
  padding: 120px;
  
  background-color: #dbf4e4;
  /*#edfff3;*/
  flex-direction: column;
  align-items: center;
  /*centra el texto*/
  position: relative;
}

/*?------ESTO PERTENECES AL LOGO Y NOMBRE LOGO QUIENES SOMOS------*/
/* Contenedor del logo y nombre */
.logosomos {
  display: inline-flex;
  align-items: center;
  gap: 32px;
  position: absolute;
  top: 40px;
  /*esto mueve el logo y texto verticalmente*/
  left: 47px;
  /*esto mueve el logo y texto horizontalmente*/
}

/* Estilos del logo */
.logo-redondo {
  width: 100px;
  height: 100px;
  background-size: cover;
}

/* Estilos del nombre del logo */
.texto-logo {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

/* Estilos del nombre del logo */
.texto-empresa {
  color: rgba(71, 126, 93, 1);
  font-size: 22px;
}
/*-------------FIN-------------*/

/*!------ESTO PERTENECES AL TEXTO QUIENES SOMOS------*/
/* Estilos del texto de quienes somos */
.contenedor7 {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  text-align: center;

}

/* Estilos del texto de quienes somos */
.contenedor8 {
  color: rgba(53, 43, 42, 1);
  font-size: 30px;
  text-align: center;
}

/* Estilos del texto quienes somos */
.texto-descripcion {
  font-size: 20px;
  line-height: 40px;
  /*Esto es para que el texto se separe un poco*/
  text-align: center;

}

/* Estilos del texto quienes somos */
.texto-frase {
  top: 90px;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 60px;
}
/*--------FIN------------*/

/*!------ESTO PERTENECES A LA SECCIÓN TE LO VAS A PERDER?------*/
.seccion7 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(71, 126, 93, 1);
  align-items: center;
  padding-left: 20px;
}

/* Estilos del texto de la sección */
.texto-perder p {
  display: flex;
  font-weight: 200;
  font-size: 40px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(71, 126, 93, 1);
  margin-top: 20px;
}

/* Estilos del texto de la sección */
.texto-frase2 p {
  display: flex;
  font-weight: 200;
  font-size: 20px;
  color: rgba(255, 255, 255, 1);
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/*?------- BOTÓN ENLACE PRESUPUESTO------------------*/
/*Contenedor del botón*/
.boton-presu {
  background: #f5e78b;
  border-radius: 56px;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 50px;
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

/*Estilos del texto del botón*/
.texto-presu p {
  display: flex;
  font-weight: 200;
  font-size: 20px;
  color: rgb(0, 0, 0);
}

.boton-presu:hover {
  background-color: #f0da4a;
}
/*-----------FIN---------------------*/

/*!----ESTO ES PARA LA ZONA TEXTO SECCION 8 FOOTER----*/
.seccion8 {
  width: 100%;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.contenedor9 {
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  align-items: center;
  width: 100%;
}

.contenedor-logo {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  align-items: center;
  width: 100%;
  margin-left: 50px;
}

.texto-logo2 {
  font-size: 1rem;
  font-weight: 700;
  color: #000000;
  display: flex;
  text-align: center;
  align-items: center;
  width: 100%;
  margin-right: 50px;
}
/*-------------FIN-----------------*/

/*!====================== PAGINA CULTURA ==========================*/
.seccion__img {
  width: 100%;
  height: 750px;
  display: flex;
  z-index: 0;
  position: relative;
  align-items: center;
  justify-content: center;
}

.seccion__img img {
  width: 100%;
  height: 100%;
}

/*?----ESTO ES PARA EL TITULO DE LA SECCION 2 DRAGÓN----*/
.seccion2 .contenedor2 {
flex-direction: row;
margin-bottom: 0px;
}

.contenedor2 > div {
  width: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-top: 50px; /*Esto es para que el texto se separe un poco del borde superior del video*/
}

.contenedor2 .contenido2 img {
  width: 60%;
  height: auto;
}

.contenido22 p {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.titulo__cultura {
  font-size: 25px;
  font-weight: 500;
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
}

.caja__texto__cultura {
  display: flex;
  width: 50%;
  margin-left: 280px;
}

.texto__cultura {
  font-size: 20px;
  color: rgb(0, 0, 0);

}

.contenedor2 .contenido2 img {
  box-shadow: 0 4px 8px rgba(29, 4, 4, 0.762);
  border-radius: 20px;
}
/*-------------FIN------------------*/

/*?----ESTO ES PARA EL TITULO DE LA SECCION 3 DANZA TRADICIONAL----*/
.caja__texto__cultura2 {
  display: flex;
  width: 50%;
  margin-right: 280px;
}
/*------------------FIN--------------------*/
/*?----ESTO ES PARA EL TITULO DE LA SECCION 4 TEXTO ----*/
.seccion4 .contenedor4 {
  flex-direction: row;
  margin-bottom: 80px;
}

.cultura__contenido4 {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.caja__texto__cultura4 {
  display: flex;
  width: 50%;
  margin-top: 50px;
}
  
.titulo__cultura4 {
  font-size: 50px;
  font-weight: 500;
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.texto__cultura4 {
  font-size: 20px;
  color: rgb(0, 0, 0);
}
/*----------------FIN-----------*/


/*?----ESTO ES SECCION 5 TEXTO ----*/
.seccion4__img2 {
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 0;
  position: relative;
  align-items: center;
  justify-content: center;
}

.seccion4__img2 img {
  width: 80%;
  height: 80%;
  box-shadow: 0 4px 8px rgba(29, 4, 4, 0.762);
  border-radius: 20px;
}
/*----------------FIN--------------*/


/*?----ESTO ES SECCION 6 FOTOS ----*/
.seccion4__img3 {
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 0;
  position: relative;
  align-items: center;
  justify-content: center;
}

.seccion4__img3 img {
  width: 50%;
  height: 50%;
  box-shadow: 0 4px 8px rgba(29, 4, 4, 0.762);
  border-radius: 20px;
}
/*------------------FIN---------------------*/

/*!============== PAGINA GASTRONOMÍA ====================*/
.tarjeta2 {
  width: 300px; /* Establece el ancho fijo */
  height: 550px; /* Establece la altura fija */
  background-color: #fff;
  border-radius: 8px;
  margin: 20px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.61);
}

.tarjeta2 img {
  width: 100%;
  height: 200px; /* Establece la altura fija para la imagen */
  object-fit: cover; /* Ajusta la imagen para cubrir completamente el contenedor */
  border-bottom: 1px solid #ddd;
}
/*------------------FIN---------------------*/

/*!============== PAGINA QUIENES SOMOS ====================*/
.seccion-testimonios .contenedor-testimonios {
  flex-direction: row;
  margin-bottom: 0px;
}

.contenedor-testimonios {
  width: 100%;
  display: flex;
  margin-top: 80px;
}

.contenedor-testimonios2 {
  width: 100%;
  align-items: right;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-right: 100px;
}

.contenido-quienes {
  font-size: 30px;
  font-weight: 100;
  color: rgb(0, 0, 0);
  margin-left: 100px;
}

.contenido-quienes2 {
  font-size: 15px;
  font-weight: 100;
  color: rgb(0, 0, 0);
  margin-left: 100px;
}

.tarjeta3 {
  width: 500px; /* Establece el ancho fijo */
  height: 500px; /* Establece la altura fija */
  background-color: #fff;
  border-radius: 8px;
  margin: 20px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.61);
}

.tarjeta3 img {
  width: 100%;
  height: 200px; /* Establece la altura fija para la imagen */
  object-fit: cover; /* Ajusta la imagen para cubrir completamente el contenedor */
  border-bottom: 1px solid #ddd;
}

/*?-------- Estrellas de valoración ------------------ */
.val-fieldset {
  width:100px;
  border:none;
  font-weight:bold;
  font-size:12px;
}

.valoracion {
  width: 100px;
  height: 21px;
  display: block;
  background:url(http://lh5.googleusercontent.com/-Sp-iHFztZdc/UVD89O9oM1I/AAAAAAAAEU0/Xh-FBDaWyJY/s000/estrellas.png) 0 0 no-repeat;
}
.val-0 {background-position: -100px -0;
}
.val-5 {background-position: -81px -21px;
}
.val-10 {background-position: -81px 0;
}
.val-15 {background-position: -61px -21px;
}
.val-20 {background-position: -60px 0;
}
.val-25 {background-position: -40px -21px;
}
.val-30 {background-position: -40px 0;
}
.val-35 {background-position: -21px -21px;
}
.val-40 {background-position: -21px 0;
} 
.val-45 {background-position: 0 -21px;
}
.val-50 {background-position: 0 0;
}
/*-------------------------------------FIN--------------------------------*/

/*!============== PAGINA PREGUNTAS FRECUENTES ====================*/
.faqs {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.texto__faqs {
  width: 100%;
  align-items: center;
}

.titulo__faqs {
  font-size: 50px;
  font-weight: 500;
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
  margin-top: 50px;
}

.texto__faqs {
  font-size: 20px;
  color: rgb(0, 0, 0);
  margin-bottom: 50px;
}

.faqs__contenido {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 50px;
}

.caja__texto__faqs2 {
  display: flex;
  width: 80%;
  margin-left: 120px;
}

.titulo__faqs2 {
  font-size: 30px;
  font-weight: 500;
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
  margin-top: 50px;
}

.texto__faqs2 {
  font-size: 20px;
  color: rgb(65, 65, 65);
}

hr {
  width: 1000px;
  margin-top: 10px;
  background-color: #000000;
  margin-left: 90px;
}
/*-------------------------------------FIN--------------------------------*/

/*!============== PAGINA PRESUPUESTO  ====================*/
.container {
  width: 70%;
  margin: 20px auto;
  padding: 20px;
}

.container h1 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 20px;
}

.container p {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
  justify-content: center;
}

input, select, textarea {
  margin-bottom: 16px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 100%;
}

textarea {
  resize: vertical;
}

.boton-enviar {
  padding: 10px;
  background-color:  rgb(113, 184, 141);
  color: #000000;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 10%; /* Esto es para que el botón ocupe el 10% del ancho del contenedor */
  margin: 0 auto; /* Esto es para que el botón se centre */
}

button:hover {
  background-color:  rgba(71, 126, 93, 1);
}

.map-container {
  margin-top: 20px;
  position: relative;
  overflow: hidden;
}

.map {
  width: 100%;
  height: 300px;
}

.tipo-viaje-buttons {
  display: flex;
  gap: 10px;
  border: none;
  justify-content: center;
}

.tipo-viaje-buttons label {
  flex-grow: 1;
  
}

.tipo-viaje-buttons input {
  display: none;
}

.tipo-viaje-buttons legend {
  text-align: center; /* Centra el texto dentro de la leyenda */
  border: none; /* Elimina el contorno alrededor de la leyenda */
  padding: 0; /* Elimina el relleno predeterminado de la leyenda */
  padding-top: 30px;
  margin-bottom: 10px;
}
/*Botones selectores de tipo de viaje personalizado*/
.tipo-viaje-buttons label {
  position: relative;
  background-color:  rgb(113, 184, 141);
  color: #000000;
  text-align: center;
  align-items: center;
  display:flex;
  padding: 20px;
  cursor: pointer;
  border-radius: 10px;
  max-width: calc(25% - 5px);
}
/*Hover de los botones selectores de tipo de viaje personalizado*/
.tipo-viaje-buttons input:checked + label {
  background-color:  #3e8e41;
}

.texto-fechas p {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 12px;

}

.texto-fechas2 p {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 12px;
}
/*-------------------------------------FIN--------------------------------*/

/*!============== PAGINA RUTAS ====================*/
.contenido-ruta > div {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-top: 10px; /*Esto es para que el texto se separe un poco del borde superior del video*/
}

.caja__texto__ruta {
  display: flex;
  width: 100%;
  margin-left: 50px;
}

.titulo__ruta {
  font-size: 30px;
  font-weight: 500;
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
}

.texto__ruta {
  font-size: 20px;
  color: rgb(0, 0, 0);
  margin-bottom: 50px;
}

.contenido-ruta p {
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.contenedor2 .contenido-ruta-img  {
  width: 80%;
  height: auto;
 
}

.contenedor2 .contenido-ruta-img  {
  box-shadow: 0 4px 8px rgba(29, 4, 4, 0.762);
  border-radius: 20px;
}
/*-------------------------------------FIN--------------------------------*/

/*?------------CARRUSEL PÁGINA RUTAS ----------------*/
#carousel {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
  padding-bottom: 50px;
  padding-left: 30px;
}

#carousel label, a {
  color: teal;
  cursor: pointer;
  text-decoration: none;
}

#carousel label:hover, a:hover {
  color: #000;
}

#carousel * { 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 
}

#carousel label, #active, img { 
  -moz-user-select:none;
  -webkit-user-select:none;
  user-select:none;
}

.catch { 
  display: block; 
  height: 0; 
  overflow: hidden; 
}

#slider {
  margin: 0 auto;
}


#carousel input {
  display: none;
}

#slide1:checked ~ #slides .inner { 
  margin-left:0;
}

#slide2:checked ~ #slides .inner {
  margin-left:-100%; 
}

#slide3:checked ~ #slides .inner {
  margin-left:-200%; 
}



#overflow {
  width: 100%;
  overflow: hidden;
}

#slides article img {
  width: 60%;
  height: auto;
  border-radius: 10px;
}

#slides .inner {
  width: 500%;
  line-height: 0;
}

#slides article { 
  width: 20%;
  float: left;
  justify-content: center;
  align-items: center;
  display: flex;
}

#active { 
  margin: 10px 0 0;
  text-align: center;
}

#active label {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 15px;
  display: inline-block;
  width: 15px; /*Esto es para que los botones sean redondos*/
  height: 15px; /*Esto es para que los botones sean redondos*/
  margin: 0 4px;
  background: #bbb;
}

#active label:hover {
  background: #ccc;
  border-color: #777 !important;
}

#controls label:hover {
  opacity: 0.8;
}

#slide1:checked ~ #controls label:nth-child(2),   /*Esto es para que el botón de siguiente se ponga en la segunda posición*/
#slide2:checked ~ #controls label:nth-child(3), /*Esto es para que el botón de siguiente se ponga en la tercera posición*/
#slide3:checked ~ #controls label:nth-child(1) /*Esto es para que el botón de siguiente se ponga en la cuarta posición*/
{
  background: url('next.png') no-repeat;
  float: right;
  margin: 0 -70px 0 0;
  display: block;
}


#slide1:checked ~ #controls label:nth-child(3),
#slide2:checked ~ #controls label:nth-child(1),
#slide3:checked ~ #controls label:nth-child(2)
 {
  background: url('prev.png') no-repeat;
  float: left;
  margin: 0 0 0 -70px;
  display: block;
}

#slide1:checked ~ #active label:nth-child(1),
#slide2:checked ~ #active label:nth-child(2),
#slide3:checked ~ #active label:nth-child(3)
{
  background: #333;
  border-color: #333 !important;
}

#slides { 
  margin: 50px 0 0 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /*background: #f8f8f8;*/
}

#slides .inner { /*Esto es para que las imágenes se muevan*/
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
  -moz-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
  -ms-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
  -o-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
  transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);

  -webkit-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
  -moz-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
  -ms-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
  -o-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
  transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#slider {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

#controls label{
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.info, #controls, #slides, #active, #active label, .info h3, .desktop, .tablet, .mobile {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

@media only screen and (max-width: 850px) and (min-width: 450px) {

  #slider #controls {
    margin: -25% 0 0 15%;
    width: 70%;
    height: 50px;
  }

  #slider #controls label {
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -o-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }

  #slider #slides {
    padding: 1% 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
  }

  #slider #active {
    margin: 22% 0 0;
  }

}

@media only screen and (max-width: 450px) {

  #slider #controls {
    margin: -28% 0 0 24%;
    width: 50%;
    height: 50px;
  }

  #slider #active {
    margin: 23% 0 0;
  }

  #slider #slides {
    padding: 1% 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
  }

  #slider #controls label {
    -moz-transform: scale(0.6);
    -webkit-transform: scale(0.6);
    -o-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
  }
}


/*?-----CODIGO CARRUSEL RUTA 2 -------*/
#slide6:checked ~ #slides .inner {
  margin-left:0;
}
#slide7:checked ~ #slides .inner {
  margin-left:-100%; 
}
#slide8:checked ~ #slides .inner {
  margin-left:-200%; 
}
#slide9:checked ~ #slides .inner { 
  margin-left:-300%; 
}
#slide10:checked ~ #slides .inner { 
  margin-left:-400%; 
}

#slide6:checked ~ #controls label:nth-child(2), 
#slide7:checked ~ #controls label:nth-child(3), 
#slide8:checked ~ #controls label:nth-child(4), 
#slide9:checked ~ #controls label:nth-child(5), 
#slide10:checked ~ #controls label:nth-child(1) {
  background: url('next.png') no-repeat;
  float: right;
  margin: 0 -70px 0 0;
  display: block;
}

#slide6:checked ~ #controls label:nth-child(5),
#slide7:checked ~ #controls label:nth-child(1),
#slide8:checked ~ #controls label:nth-child(2),
#slide9:checked ~ #controls label:nth-child(3),
#slide10:checked ~ #controls label:nth-child(4) {
  background: url('prev.png') no-repeat;
  float: left;
  margin: 0 0 0 -70px;
  display: block;
}

#slide6:checked ~ #active label:nth-child(1),
#slide7:checked ~ #active label:nth-child(2),
#slide8:checked ~ #active label:nth-child(3),
#slide9:checked ~ #active label:nth-child(4),
#slide10:checked ~ #active label:nth-child(5) {
  background: #333;
  border-color: #333 !important;
}
/*----------------FIN---------------------*/


/*?-----CODIGO CARRUSEL RUTA 3 -------*/
#slide11:checked ~ #slides .inner {
  margin-left:0;
}
#slide12:checked ~ #slides .inner {
  margin-left:-100%; 
}
#slide13:checked ~ #slides .inner {
  margin-left:-200%; 
}
#slide14:checked ~ #slides .inner { 
  margin-left:-300%; 
}
#slide15:checked ~ #slides .inner { 
  margin-left:-400%; 
}

#slide11:checked ~ #controls label:nth-child(2), 
#slide12:checked ~ #controls label:nth-child(3), 
#slide13:checked ~ #controls label:nth-child(4), 
#slide14:checked ~ #controls label:nth-child(5), 
#slide15:checked ~ #controls label:nth-child(1) {
  background: url('next.png') no-repeat;
  float: right;
  margin: 0 -70px 0 0;
  display: block;
}

#slide11:checked ~ #controls label:nth-child(5),
#slide12:checked ~ #controls label:nth-child(1),
#slide13:checked ~ #controls label:nth-child(2),
#slide14:checked ~ #controls label:nth-child(3),
#slide15:checked ~ #controls label:nth-child(4) {
  background: url('prev.png') no-repeat;
  float: left;
  margin: 0 0 0 -70px;
  display: block;
}

#slide11:checked ~ #active label:nth-child(1),
#slide12:checked ~ #active label:nth-child(2),
#slide13:checked ~ #active label:nth-child(3),
#slide14:checked ~ #active label:nth-child(4),
#slide15:checked ~ #active label:nth-child(5) {
  background: #333;
  border-color: #333 !important;
}
/*----------------FIN---------------------*/


/*?-----CODIGO CARRUSEL RUTA 4 -------*/
#slide16:checked ~ #slides .inner {
  margin-left:0;
}
#slide17:checked ~ #slides .inner {
  margin-left:-100%; 
}
#slide18:checked ~ #slides .inner {
  margin-left:-200%; 
}
#slide19:checked ~ #slides .inner { 
  margin-left:-300%; 
}
#slide20:checked ~ #slides .inner { 
  margin-left:-400%; 
}

#slide16:checked ~ #controls label:nth-child(2), 
#slide17:checked ~ #controls label:nth-child(3), 
#slide18:checked ~ #controls label:nth-child(4), 
#slide19:checked ~ #controls label:nth-child(5), 
#slide20:checked ~ #controls label:nth-child(1) {
  background: url('next.png') no-repeat;
  float: right;
  margin: 0 -70px 0 0;
  display: block;
}

#slide16:checked ~ #controls label:nth-child(5),
#slide17:checked ~ #controls label:nth-child(1),
#slide18:checked ~ #controls label:nth-child(2),
#slide19:checked ~ #controls label:nth-child(3),
#slide20:checked ~ #controls label:nth-child(4) {
  background: url('prev.png') no-repeat;
  float: left;
  margin: 0 0 0 -70px;
  display: block;
}

#slide16:checked ~ #active label:nth-child(1),
#slide17:checked ~ #active label:nth-child(2),
#slide18:checked ~ #active label:nth-child(3),
#slide19:checked ~ #active label:nth-child(4),
#slide20:checked ~ #active label:nth-child(5) {
  background: #333;
  border-color: #333 !important;
}
/*----------------FIN---------------------*/


/*?-----CODIGO CARRUSEL RUTA 5 -------*/
#slide21:checked ~ #slides .inner {
  margin-left:0;
}
#slide22:checked ~ #slides .inner {
  margin-left:-100%; 
}
#slide23:checked ~ #slides .inner {
  margin-left:-200%; 
}
#slide24:checked ~ #slides .inner { 
  margin-left:-300%; 
}
#slide25:checked ~ #slides .inner { 
  margin-left:-400%; 
}

#slide21:checked ~ #controls label:nth-child(2), 
#slide22:checked ~ #controls label:nth-child(3), 
#slide23:checked ~ #controls label:nth-child(4), 
#slide24:checked ~ #controls label:nth-child(5), 
#slide25:checked ~ #controls label:nth-child(1) {
  background: url('next.png') no-repeat;
  float: right;
  margin: 0 -70px 0 0;
  display: block;
}

#slide21:checked ~ #controls label:nth-child(5),
#slide22:checked ~ #controls label:nth-child(1),
#slide23:checked ~ #controls label:nth-child(2),
#slide24:checked ~ #controls label:nth-child(3),
#slide25:checked ~ #controls label:nth-child(4) {
  background: url('prev.png') no-repeat;
  float: left;
  margin: 0 0 0 -70px;
  display: block;
}

#slide21:checked ~ #active label:nth-child(1),
#slide22:checked ~ #active label:nth-child(2),
#slide23:checked ~ #active label:nth-child(3),
#slide24:checked ~ #active label:nth-child(4),
#slide25:checked ~ #active label:nth-child(5) {
  background: #333;
  border-color: #333 !important;
}
/*----------------FIN---------------------*/


/*?-----CODIGO CARRUSEL RUTA 6 -------*/
#slide26:checked ~ #slides .inner {
  margin-left:0;
}
#slide27:checked ~ #slides .inner {
  margin-left:-100%; 
}
#slide28:checked ~ #slides .inner {
  margin-left:-200%; 
}
#slide29:checked ~ #slides .inner { 
  margin-left:-300%; 
}
#slide30:checked ~ #slides .inner { 
  margin-left:-400%; 
}

#slide26:checked ~ #controls label:nth-child(2), 
#slide27:checked ~ #controls label:nth-child(3), 
#slide28:checked ~ #controls label:nth-child(4), 
#slide29:checked ~ #controls label:nth-child(5), 
#slide30:checked ~ #controls label:nth-child(1) {
  background: url('next.png') no-repeat;
  float: right;
  margin: 0 -70px 0 0;
  display: block;
}

#slide26:checked ~ #controls label:nth-child(5),
#slide27:checked ~ #controls label:nth-child(1),
#slide28:checked ~ #controls label:nth-child(2),
#slide29:checked ~ #controls label:nth-child(3),
#slide30:checked ~ #controls label:nth-child(4) {
  background: url('prev.png') no-repeat;
  float: left;
  margin: 0 0 0 -70px;
  display: block;
}

#slide26:checked ~ #active label:nth-child(1),
#slide27:checked ~ #active label:nth-child(2),
#slide28:checked ~ #active label:nth-child(3),
#slide29:checked ~ #active label:nth-child(4),
#slide30:checked ~ #active label:nth-child(5) {
  background: #333;
  border-color: #333 !important;
}
/*----------------FIN---------------------*/

/*?-----CODIGO CARRUSEL RUTA 7 -------*/
#slide31:checked ~ #slides .inner {
  margin-left:0;
}
#slide32:checked ~ #slides .inner {
  margin-left:-100%; 
}
#slide33:checked ~ #slides .inner {
  margin-left:-200%; 
}
#slide34:checked ~ #slides .inner { 
  margin-left:-300%; 
}
#slide35:checked ~ #slides .inner { 
  margin-left:-400%; 
}

#slide31:checked ~ #controls label:nth-child(2), 
#slide32:checked ~ #controls label:nth-child(3), 
#slide33:checked ~ #controls label:nth-child(4), 
#slide34:checked ~ #controls label:nth-child(5), 
#slide35:checked ~ #controls label:nth-child(1) {
  background: url('next.png') no-repeat;
  float: right;
  margin: 0 -70px 0 0;
  display: block;
}

#slide31:checked ~ #controls label:nth-child(5),
#slide32:checked ~ #controls label:nth-child(1),
#slide33:checked ~ #controls label:nth-child(2),
#slide34:checked ~ #controls label:nth-child(3),
#slide35:checked ~ #controls label:nth-child(4) {
  background: url('prev.png') no-repeat;
  float: left;
  margin: 0 0 0 -70px;
  display: block;
}

#slide31:checked ~ #active label:nth-child(1),
#slide32:checked ~ #active label:nth-child(2),
#slide33:checked ~ #active label:nth-child(3),
#slide34:checked ~ #active label:nth-child(4),
#slide35:checked ~ #active label:nth-child(5) {
  background: #333;
  border-color: #333 !important;
}
/*----------------FIN---------------------*/

/*?-----CODIGO CARRUSEL RUTA 8 -------*/
#slide36:checked ~ #slides .inner {
  margin-left:0;
}
#slide37:checked ~ #slides .inner {
  margin-left:-100%; 
}
#slide38:checked ~ #slides .inner {
  margin-left:-200%; 
}
#slide39:checked ~ #slides .inner { 
  margin-left:-300%; 
}
#slide40:checked ~ #slides .inner { 
  margin-left:-400%; 
}

#slide36:checked ~ #controls label:nth-child(2), 
#slide37:checked ~ #controls label:nth-child(3), 
#slide38:checked ~ #controls label:nth-child(4), 
#slide39:checked ~ #controls label:nth-child(5), 
#slide40:checked ~ #controls label:nth-child(1) {
  background: url('next.png') no-repeat;
  float: right;
  margin: 0 -70px 0 0;
  display: block;
}

#slide36:checked ~ #controls label:nth-child(5),
#slide37:checked ~ #controls label:nth-child(1),
#slide38:checked ~ #controls label:nth-child(2),
#slide39:checked ~ #controls label:nth-child(3),
#slide40:checked ~ #controls label:nth-child(4) {
  background: url('prev.png') no-repeat;
  float: left;
  margin: 0 0 0 -70px;
  display: block;
}

#slide36:checked ~ #active label:nth-child(1),
#slide37:checked ~ #active label:nth-child(2),
#slide38:checked ~ #active label:nth-child(3),
#slide39:checked ~ #active label:nth-child(4),
#slide40:checked ~ #active label:nth-child(5) {
  background: #333;
  border-color: #333 !important;
}
/*----------------FIN---------------------*/


/*?-----CODIGO CARRUSEL RUTA 9 -------*/
#slide41:checked ~ #slides .inner {
  margin-left:0;
}
#slide42:checked ~ #slides .inner {
  margin-left:-100%; 
}
#slide43:checked ~ #slides .inner {
  margin-left:-200%; 
}
#slide44:checked ~ #slides .inner { 
  margin-left:-300%; 
}
#slide45:checked ~ #slides .inner { 
  margin-left:-400%; 
}

#slide41:checked ~ #controls label:nth-child(2), 
#slide42:checked ~ #controls label:nth-child(3), 
#slide43:checked ~ #controls label:nth-child(4), 
#slide44:checked ~ #controls label:nth-child(5), 
#slide45:checked ~ #controls label:nth-child(1) {
  background: url('next.png') no-repeat;
  float: right;
  margin: 0 -70px 0 0;
  display: block;
}

#slide41:checked ~ #controls label:nth-child(5),
#slide42:checked ~ #controls label:nth-child(1),
#slide43:checked ~ #controls label:nth-child(2),
#slide44:checked ~ #controls label:nth-child(3),
#slide45:checked ~ #controls label:nth-child(4) {
  background: url('prev.png') no-repeat;
  float: left;
  margin: 0 0 0 -70px;
  display: block;
}

#slide41:checked ~ #active label:nth-child(1),
#slide42:checked ~ #active label:nth-child(2),
#slide43:checked ~ #active label:nth-child(3),
#slide44:checked ~ #active label:nth-child(4),
#slide45:checked ~ #active label:nth-child(5) {
  background: #333;
  border-color: #333 !important;
}
/*----------------FIN---------------------*/

/*!======================= PÁGINA FORMULARIO LOGIN / REGISTER ========================*/
.contenedor_centrado {
  height: 92vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor_tarjeta {
  height: 600px;
  width: 800px;
  /*background-color: rgb(253, 52, 52);*/
  border-radius: 30px;
  box-shadow: -2px 5px 10px #888888fa;
  position: relative;
  overflow: hidden;
  margin: 0 5%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor_login {
  /*background-color: white;*/
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contenedor_login2 {
  background-color:  rgb(218, 255, 228);
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.titulo {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 20px;
  /*background-color:white;*/
}

.titulo2 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 20px;
  background-color:rgb(218, 255, 228);

}
/*
.formulario {
  background-color:white;
}
*/
.formulario2 {
  background-color:rgb(218, 255, 228);
}

/*?------------Tarjeta izquierda Logueo----------------- */
.tarjeta_login {
  width: 300px;
  margin-bottom: 20px;
  /*background-color:white;*/
  margin: 0 5%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.tarjeta_login2 {
  width: 500px;
  
}

.tarjeta_login span:nth-child(2) {
  position: relative;
  margin-top: 15px;
  color: rgb(114, 114, 114);
  font-size: 15px;    
}

.tarjeta_login input {
  margin-bottom: 15px;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  background-color: rgb(223, 223, 223);
  border: none;
  padding: 8px;
}

.tarjeta_login a {
  color: rgb(111, 111, 111);
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 16px;
  /*background-color:white;*/
}

/*?------------BOTÓN LOGIN--------------------*/
.btn_enviar {
  padding: 10px 50px;
  border-radius: 30px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  color: rgb(0, 0, 0);
  background-color: #89d57a;
  border: 1px solid transparent;
  cursor: pointer;
}
.btn_enviar:hover {
  background-color:  #3e8e41;
}

/*?-------Tarjeta de la derecha , Registro-------- */
.tarjeta_login2 {
  width: 300px;
  margin-bottom: 20px;
  background-color:rgb(218, 255, 228);
  margin: 0 5%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.tarjeta_login2 input {
  margin-bottom: 15px;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  background-color: rgb(223, 223, 223);
  border: none;
  padding: 8px;
}

.tarjeta_login2 a {
  color: rgb(111, 111, 111);
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 16px;
  background-color:white;
}

/*?------------BOTÓN REGISTRO --------------------*/
.btn_enviar2 {
  padding: 10px;
  width: 100px;
  border-radius: 30px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  color: rgb(0, 0, 0);
  background-color: #89d57a;
  border: 1px solid transparent;
  cursor: pointer;
}

.btn_enviar2:hover {
  background-color:  #3e8e41;
}

.registro {
  margin-top: 100px;
}

/*!----------- FOTOS EN 3D --------------*/
.img_3d {
  background-color: #edfff3;
}

.card1 {
width: 300px;
  height: 200px;
	position: relative;
	display: flex;
	justify-content: center;
	padding: 0 36px;
	perspective: 2500px;
	margin: 0 0px;
}

.cover-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.wrapper {
	transition: all 0.5s;
	position: absolute;
	width: 100%;
	z-index: -1;
}

.card1:hover .wrapper {
	transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
	box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.wrapper::before,
.wrapper::after {
	content: "";
	opacity: 0;
	width: 100%;
	height: 80px;
	transition: all 0.5s;
	position: absolute;
	left: 0;
}

.wrapper::before {
	top: 0;
	height: 100%;
	background-image: linear-gradient(
		to top,
		transparent 46%,
		rgba(12, 13, 19, 0.5) 68%,
		rgba(12, 13, 19) 97%
	);
}

.wrapper::after {
	bottom: 0;
	opacity: 1;
	background-image: linear-gradient(
		to bottom,
		transparent 46%,
		rgba(12, 13, 19, 0.5) 68%,
		rgba(12, 13, 19) 97%
	);
}

.card1:hover .wrapper::before,
.wrapper::after {
	opacity: 1;
}

.card1:hover .wrapper::after {
	height: 120px;
}

.title1 {
	width: 100%;
	transition: transform 0.5s;
}

.card1:hover .title1 {
	transform: translate3d(0%, -50px, 100px);
}

.character {
	width: 100%;
	opacity: 0;
	transition: all 0.5s;
	position: absolute;
	z-index: -1;
}

.card1:hover .character {
	opacity: 1;
	transform: translate3d(0%, -10%, 100px);
}

/*!======================= FAQS ========================*/
/****** colores/tipografia ******/
*,
*::before,
*::after {
  box-sizing: border-box;
}

.acordeon {
  /*max-width: 500px;*/
  background-color: rgb(218, 255, 228);
  font-family: system-ui;
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
  border-bottom: 5px solid limegreen;
  cursor: pointer;
}

.acordeon-titulo {
  font-weight: 700;
  font-size: 1.5rem;
  padding: 1rem;
}

.acordeon-texto {
  padding-inline: 10rem;
  line-height: 150%;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.acordeon-texto {
  display: grid; 
  grid-template-rows: 0fr;
  transition: 250ms grid-template-rows ease;
}

.acordeon:hover .acordeon-texto {
  grid-template-rows: 1fr;
}

.acordeon-texto > div {
  overflow: hidden;
}

/*!=========================== PÁGINA GALERÍA VIDEOS =====================*/
/*?------------contenedor flex para las tarjetas videos------------ */
.seccion5 {
  display: flex;
  justify-content: space-around;
  /* Ajusta el espacio entre las tarjetas según sea necesario */
  flex-wrap: wrap;
  /* Permite que las tarjetas se envuelvan a la siguiente línea si no hay suficiente espacio */
  padding: 5px;
  padding-bottom: 30px;
}

/*?----tarjeta disposición horizontal--------- */
.tarjeta4 {
  flex: 0 0 calc(33.33% - 40px);
  min-width: 300px;
  height: 350px;
  background-color: #fff;
  border-radius: 8px;
  margin: 20px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.61);
  display: flex;
  flex-direction: column;
}

/*?------------ancho del video dentro de cada tarjeta--------- */
.tarjeta4 video {
  width: 100%;
  height: 300px;
  object-fit: cover;
  /* Ajusta el video para cubrir completamente el contenedor */
}

/*?-----------contenido dentro de cada tarjeta-----------*/
.tarjeta4 .contenido4 {
  padding: 10px;
  flex-grow: 1;
  /* Hace que el contenido ocupe el espacio restante en la tarjeta */
}

.contenido4 h5 {
  font-size: large;
  font-weight: lighter;
  text-transform: normal;
  margin-bottom: 10px;
  text-align: center;
}